* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #f6f8fc;
}

.Title {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}

.Subtitle {
  font-weight: 400;
  font-size: 1.5rem;
}

.title-card {
  font-weight: 600;
  font-size: 1rem;
}
.subtitle-card {
  font-weight: 400;
  font-size: 0.875rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (width>768px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  width: 16.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1.875rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0 rgb(0 0 0 / 0.1);
}

.card-pink {
  background-color: #ffffff;
}

@media (hover: hover) {
  .card-pink:hover {
    background-color: violet;
  }
}

.card-blue {
  background-color: #ffffff;
}

@media (hover: hover) {
  .card-blue:hover {
    background-color: #5082ed;
  }
}

.card-orange {
  background-color: #ffffff;
}

@media (hover: hover) {
  .card-orange:hover {
    background-color: rgb(237, 137, 93);
  }
}

.card-green {
  background-color: #ffffff;
}

@media (hover: hover) {
  .card-green:hover {
    background-color: rgb(142, 201, 162);
  }
}

.icon-container {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 100%;
  background-color: #f7ddff;
  margin-inline: auto;
}

.icon-blue {
  background-color: #dde8ff;
}

.icon-red {
  background-color: #ffddde;
}

.icon-green {
  background-color: #dfffdd;
}

.icon {
  display: block;
  padding: 1.5938rem;
}
